OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SWARMS_API_KEY=sk-b8d468e53090440edbb01244f9fe00aee5a8bfa90d5739456120c3407daa7b4f
BIRDEYE_API_KEY=12d83d2f97074d2f9f55d91e233b07f4
MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6ImUzZTM2NTY5LTk1N2QtNGJkYS1hNGU0LTk2Y2FjZmZhNGZiNiIsIm9yZ0lkIjoiMTcxMTE3IiwidXNlcklkIjoiMTcwNzg4IiwidHlwZUlkIjoiOTBmMDEyYTQtY2Q5Yy00NjFhLWFiYzUtMWI1YTAxMDdmZmEzIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3Nzk4NDIwNjgsImV4cCI6NDkzNTYwMjA2OH0.XgbOEBU6NLGAR9OfU9fuB4Wq6qYLyrBe_mcNjRYtkSQ
